@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

pre, code, kbd, samp {
  font-family: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.cell-output {
  background-color: LightYellow;
  border-radius: 4px;
}

p + ul {
  margin-top: -1em;
}


a.sidebar-item-text.sidebar-link,
#toc-title,
.footnotes {
  font-size: .9em;
}

.menu-text {
  font-weight: bold;
}

.sidebar-item-text.sidebar-link.active, 
.sidebar-item-text.sidebar-link.active .chapter-number {
  color: #18bc9c;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: underline; 
} 
a:active { 
  text-decoration: none; 
}